.flip-container {
    position: relative;
    display: inline-flex;
    perspective: 1000px;
    width: auto;
}

.flip-front,
.flip-back {
    display: inline-block;
    width: 100%;
    backface-visibility: hidden;
    transition: transform 0.5s ease-in-out;
    white-space: nowrap;
}

.flip-front {
    transform: rotateY(0deg);
}

.flip-back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
    left: 0;
}

.flip-container:hover .flip-front {
    transform: rotateY(-180deg);
}

.flip-container:hover .flip-back {
    transform: rotateY(0deg);
}