.flip-container2 {
    position: relative;
    display: inline-flex;
    perspective: 1000px;
    width: auto;
}

.flip-front2,
.flip-back2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform 0.5s ease-in-out;
    text-align: center;
}

.flip-front2 {
    transform: rotateY(0deg);
}

.flip-back2 {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
    left: 0;
}

.flip-container:hover .flip-front2 {
    transform: rotateY(-180deg);
}

.flip-container:hover .flip-back2 {
    transform: rotateY(0deg);
}